/* initialize base format */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

/* layout */
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

/* sidebar */
.sidebar {
    background: #fff;
    border-right: 1px solid #e5e5e5;
    padding: 20px;
}

.logo-box {
    background: #e5e5e5;
    background-image: url("https://picsum.photos/230/60");
    padding: 20px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.nav {
    list-style: none;
}

.nav li {
    padding: 12px 10px;
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 6px;
    cursor: pointer;
    color: #444;
    margin-bottom: 8px;
}

/* main content */
.content {
    padding: 25px 40px;
    overflow-y: auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
}