/* initialize base format */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* background-color: #fafafa; */
}

:root {
    --primary-bg-color: #fff;
    --placeholder-bg-color: #f0f0f0;
    --border-color: #e5e5e5;
    --dark-primary-bg-color: #121212;
    --dark-primary-color: #f3f3f3;
    --dark-sidebar-color: #1b1b1b;
    --dark-border-color: #2a2a2a;
}

body {
    /* background: var(--dark-primary-bg-color); DARK MODE */
    /* color: var(--dark-primary-color); DARK MODE */
}

/* layout */
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

/* sidebar */
.sidebar {
    background: var(--primary-bg-color); /* --dark-sidebar-color = dark mode */
    border-right: 1px solid var(--border-color); /* --dark-border-color = dark mode */
    padding: 20px;
}

.logo-box {
    background: var(--border-color);    /* --dark-border-color = dark mode */
    background-image: url("https://picsum.photos/230/60");
    padding: 20px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.nav {
    list-style: none;
}

.nav li {
    padding: 12px 10px;
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 6px;
    cursor: pointer;
    color: #444;
    margin-bottom: 8px;
}

/* main content */
.content {
    padding: 25px 40px;
    overflow-y: auto;
    /* background: var(--primary-bg-color) DARK MODE*/
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box {
    background: var(--primary-bg-color); /* #1e1e1e = dark mode*/
    border: 1px solid var(--border-color); /* #333 = dark mode */
    padding: 8px 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
}

.profile-dropdown {
    background: var(--primary-bg-color); /* #1e1e1e = dark mode */
    padding: 8px 12px;
    border: 1px solid var(--border-color); /* #333 = dark mode */
    border-radius: 8px;
    cursor: pointer;
}

.page-title {
    font-size: 26px;
    margin-bottom: 25px;
    /* color: var(--primary-bg-color); DARK MODE */
}

/* stat cards */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 25px;
}

.stat-card {
    background: var(--primary-bg-color); /* #1c1c1c = dark mode */
    border: 1px solid var(--border-color); /* --dark-border-color = dark mode */
    padding: 18px;
    border-radius: 10px;
}

.stat-card p {
    color: #555;    /* #ccc = dark mode */
    margin-bottom: 10px;
}

.stat-card h2 {
    /* color: var(--primary-bg-color); DARK MODE */
}

/* middle section */
.middle-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 10px;
}

.card {
    background: var(--primary-bg-color);    /* #1c1c1c = dark mode */
    border: 1px solid var(--border-color);  /* --dark-border-color = dark mode */
    padding: 18px;
    border-radius: 10px;
}

h3 {
    margin-bottom: 12px;
    /* color: var(--primary-bg-color); */
}

/* stock overview boxes */
.stock-overview .boxes {
    display: flex;
    gap: 20px;
}

.big-box {
    width: 200px;
    height: 120px;
    background: var(--placeholder-bg-color); /* #2b2b2b = dark mode */
    border-radius: 6px;
}

.small-boxes {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 10px;
}

.small-boxes div {
    width: 60px;
    height: 50px;
    background: var(--placeholder-bg-color);
    border-radius: 6px;
}

/* inventory status */
.status-item {
    margin-bottom: 18px;
}

.status-item span {
    display: block;
    margin-bottom: 8px;
    color: #444; /* #ddd = dark mode */
}

.bar {
    height: 8px;
    background: var(--placeholder-bg-color);    /* #2f2f2f = dark mode */
    border-radius: 10px;
}

/* recent activity */
.recent .line{
    height: 10px;
    background: var(--placeholder-bg-color);    /* --dark-border-color = dark mode */
    border-radius: 10px;
    margin-bottom: 12px;
}

.recent-item {
    display: flex;
    justify-content: space-between;
}

.line {
    width: 75%
}

.short {
    width: 20%;
}